### Use this notebook to create the file "new_targets.json" based on hospital data sent by Jeffrey

In [35]:
import pandas as pd
import json
from datetime import datetime
from autumn.settings.constants import COVID_BASE_DATETIME

from autumn.settings.folders import PROJECTS_PATH

In [38]:
region = 'west'

In [39]:
data_df = pd.read_csv(f'hosp_{region}.csv')

In [40]:
hosp_data = data_df[['Day of Reportdate', 'Icu Occupied', 'Total COVID beds occupied']].dropna()
hosp_data['date'] = pd.to_datetime(hosp_data['Day of Reportdate'], format="%Y-%m-%d")
hosp_data['date_int'] = (hosp_data['date'] - COVID_BASE_DATETIME).dt.days
hosp_data

,Day of Reportdate,Icu Occupied,Total COVID beds occupied,date,date_int
0,2020-12-10,17,350,2020-12-10,345
1,2020-12-11,18,340,2020-12-11,346
2,2020-12-12,15,309,2020-12-12,347
3,2020-12-13,24,348,2020-12-13,348
4,2020-12-14,11,347,2020-12-14,349
...,...,...,...,...,...
643,2022-09-14,28,810,2022-09-14,988
644,2022-09-15,30,765,2022-09-15,989
645,2022-09-16,32,825,2022-09-16,990
646,2022-09-17,24,795,2022-09-17,991
647,2022-09-18,23,794,2022-09-18,992

In [41]:
target_path = os.path.join(PROJECTS_PATH, 'sm_sir', 'philippines', 'western-visayas', 'timeseries.json')

In [42]:
with open(target_path, mode="r") as f:
    targets = json.load(f)

    targets["hospital_occupancy"]["times"] = list(hosp_data["date_int"])
    targets["hospital_occupancy"]["values"] = list(hosp_data["Total COVID beds occupied"])
    
    targets["icu_occupancy"]["times"] = list(hosp_data["date_int"])
    targets["icu_occupancy"]["values"] = list(hosp_data["Icu Occupied"])

with open(target_path, "w") as f:
    json.dump(targets, f, indent=2)